%h1.text-center.landing Hi there wine lover!
%h2.text-center.landing It's easy! Just sign up and wine it away! Share all the wines you love with a like-minded community.
%button= link_to "Check out what other people are drinking!", pics_path, type: "button"
