// Place all the styles related to the Pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pics {
  margin: 0 auto 50px auto;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
          text-align: center;
          div h5 a {
            color: #333;
            font-size: 18px;
            width: 100%;
            padding-top: 10px;
          }
          p {
            padding-top: 10px;
            font-size: 14px;
            border-top: 1px solid #333;
          }
  .box {
      padding: 15px;
      margin: 15px;
      width: 400px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
      img {
        max-width: 70%;
        height: auto;
        padding-bottom: 10px;
      }
    }
  }

  //show page
  div#pic_show.row {
    margin-top: 50px;

    a.btn.btn-info {
      margin-left: 3px;
    }
  }
